@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
  /* background: url('./assets/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 100% ; */
  /* Set to the full viewport width */
 
     background-image: url('./assets/bg.jpg'); 
  background-position-x: center;
  
 
  /* background-size: cover; 
  background-repeat: no-repeat; */
  
  /* background-clip: content-box;   */
   /* background-repeat: ;    */
  

   .bg-btn {
    background: linear-gradient(
      90deg,
      rgb(162, 56, 230),
      rgb(222, 57, 117),
      rgb(234, 135, 125)
    );
  }
.bg-footer{
  background-image: linear-gradient(270deg,
   rgb(214, 169, 249) 4%,
    rgb(156, 86, 210) 26%,
     rgb(126, 86, 210) 95%);
}
.bg-navbar{
  background-color: black;
  transition: .2s ease; 

}
  
}

/* <div c style="background-color: rgb(4, 4, 5); border-bottom-color: rgba(255, 255, 255, 0.1); border-bottom-width: 1px; opacity: 1;"></div> */